html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
strike,
strong,
ol,
ul,
li,
canvas,
figure,
figcaption,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
figcaption,
figure,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 3D scene */
#viewport {
  width: 700px;
  height: 600px;
  overflow: hidden;
  border: 1px solid;
  position: relative;
  perspective: 500px;
}
#viewport * {
  transform-style: preserve-3d;
  box-sizing: border-box;
}
#camera {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
#scene {
  position: fixed;
  /* transform: translate3D(-50%, -50%, -3000px) rotateX(60deg) rotateZ(-10deg); */
  transform: translate3D(-50%, -50%, -3000px) rotateX(60deg) rotateZ(-2deg);
}
#floor {
  position: fixed;
  background: #31087b;
}
