/* .hero * {
  background: #bbb;
}
.hero .front {
  background: #ddd;
}
.hero .left,
.hero .right {
  background: #999;
} */

#hero * {
  background: #fa0;
}
#hero .front {
  background: #e92;
}
#hero .left,
#hero .right {
  background: #d70;
}
#hero .front:before {
  display: block;
  width: 200px;
  content: "👀";
  font-size: 100px;
  text-align: center;
}
